<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="DigitalLibrary Project" Description="DigitalLibrary Project" ToolsVersion="16.0">
    <Rules AnalyzerId="SA1116" RuleNamespace="xunit.analyzers">
        <Rule Id="SA1116" Action="Hidden"/>
    </Rules>
    <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">
        <Rule Id="xUnit1015" Action="Warning"/>
    </Rules>
</RuleSet>
