@page "/masterdata/dimension"

<h4>Dimension page</h4>
<p>
    It has to have the following features:
    <ul>
        <li>Listing dimensions</li>
        <li>Creating dimensions</li>
        <li>Deleting dimensions</li>
        <li>Modifying dimensions</li>
        <li>Modifying dimensions</li>
    </ul>
</p>

@code
{

}