<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="xunit.analyzers" Description="xunit analyzers" ToolsVersion="16.0">
    <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">
        <Rule Id="xUnit1000" Action="Warning"/>
        <Rule Id="xUnit1001" Action="Warning"/>
        <Rule Id="xUnit1002" Action="Warning"/>
        <Rule Id="xUnit1003" Action="Warning"/>
        <Rule Id="xUnit1004" Action="Warning"/>
        <Rule Id="xUnit1005" Action="Warning"/>
        <Rule Id="xUnit1006" Action="Warning"/>
        <Rule Id="xUnit1007" Action="Warning"/>
        <Rule Id="xUnit1008" Action="Warning"/>
        <Rule Id="xUnit1009" Action="Warning"/>
        <Rule Id="xUnit1010" Action="Warning"/>
        <Rule Id="xUnit1011" Action="Warning"/>
        <Rule Id="xUnit1012" Action="Warning"/>
        <Rule Id="xUnit1013" Action="Warning"/>
        <Rule Id="xUnit1014" Action="Warning"/>
        <Rule Id="xUnit1015" Action="Warning"/>
        <Rule Id="xUnit1016" Action="Warning"/>
        <Rule Id="xUnit1017" Action="Warning"/>
        <Rule Id="xUnit1018" Action="Warning"/>
        <Rule Id="xUnit1019" Action="Warning"/>
        <Rule Id="xUnit1020" Action="Warning"/>
        <Rule Id="xUnit1021" Action="Warning"/>
        <Rule Id="xUnit1022" Action="Warning"/>
        <Rule Id="xUnit1023" Action="Warning"/>
        <Rule Id="xUnit1024" Action="Warning"/>
        <Rule Id="xUnit1025" Action="Warning"/>
        <Rule Id="xUnit1026" Action="Warning"/>
        <Rule Id="xUnit2000" Action="Warning"/>
        <Rule Id="xUnit2001" Action="Warning"/>
        <Rule Id="xUnit2002" Action="Warning"/>
        <Rule Id="xUnit2003" Action="Warning"/>
        <Rule Id="xUnit2004" Action="Warning"/>
        <Rule Id="xUnit2005" Action="Warning"/>
        <Rule Id="xUnit2006" Action="Warning"/>
        <Rule Id="xUnit2007" Action="Warning"/>
        <Rule Id="xUnit2008" Action="Warning"/>
        <Rule Id="xUnit2009" Action="Warning"/>
        <Rule Id="xUnit2010" Action="Warning"/>
        <Rule Id="xUnit2011" Action="Warning"/>
        <Rule Id="xUnit2012" Action="Warning"/>
        <Rule Id="xUnit2013" Action="Warning"/>
        <Rule Id="xUnit2014" Action="Warning"/>
        <Rule Id="xUnit2015" Action="Warning"/>
        <Rule Id="xUnit2016" Action="Warning"/>
        <Rule Id="xUnit2017" Action="Warning"/>
        <Rule Id="xUnit2018" Action="Warning"/>
        <Rule Id="xUnit2019" Action="Warning"/>
        <Rule Id="xUnit3000" Action="Warning"/>
        <Rule Id="xUnit3001" Action="Warning"/>
    </Rules>
</RuleSet>