@using DigitalLibrary.MasterData.DomainModel
<ul>
    <li>
        @_dimensionStructure.Name
        <BSButton Size="Size.Small">Delete</BSButton>
        <BSButton Size="Size.Small">Update</BSButton>
        <BSButton Size="Size.Small">Add</BSButton>
        <BSButton Size="Size.Small">Add New Dimension Structure</BSButton>
        <BSButton Size="Size.Small">Add Dimension</BSButton>
        <BSButton Size="Size.Small">Modify Dimension</BSButton>
        <BSButton Size="Size.Small">Delete Dimension</BSButton>
    </li>
    @{
        if (_dimensionStructure.ChildDimensionStructureDimensionStructures != null)
        {
            if (_dimensionStructure.ChildDimensionStructureDimensionStructures.Any())
            {
                foreach (DimensionStructureDimensionStructure structure in _dimensionStructure.ChildDimensionStructureDimensionStructures)
                {
                    <DimensionStructureTree DimensionStructureId="@structure.ChildDimensionStructureId">
                    </DimensionStructureTree>
                }
            }
        }
    }
</ul>