@* Digital Library project *@
@* https://github.com/SayusiAndo/DigitalLibrary *@
@* Licensed under MIT License *@

<span slot="heading"
      @attributes="@UnknownParameters">
    @ChildContent
</span>