@using DigitalLibrary.MasterData.DomainModel
<div>
    <BSBasicInput InputType="InputType.Select"
                  @bind-Value="@_selectedSourceFormatId"
                  @onclick="@(async () => await NotifyDocumentDisplay(_selectedSourceFormatId).ConfigureAwait(false))">
        @{
            foreach (SourceFormat sourceFormat in _sourceFormats)
            {
                <option value="@sourceFormat.Id">
                    @sourceFormat.Name
                </option>
            }
        }
    </BSBasicInput>
    <DocumentDisplay></DocumentDisplay>
</div>