@using DigitalLibrary.MasterData.DomainModel
<div>
    <BSBasicInput InputType="InputType.Select"
                  @bind-Value="@_selectedSourceFormatId">
        @{
            foreach (SourceFormat sourceFormat in _sourceFormats)
            {
                <option value="@sourceFormat.Id">
                    @sourceFormat.Name
                </option>
            }
        }
    </BSBasicInput>
    <BSButton ButtonType="ButtonType.Button"
              Color="Color.Primary"
              @onclick="@(async () => await NotifyDocumentDisplay().ConfigureAwait(false))">
        Load SourceFormat
    </BSButton>
    <DocumentDisplay></DocumentDisplay>
</div>